code {
  font-family: "Source Code Pro", Monaco, "Courier New", monospace;
  border-radius: 3px;
}

pre {
  margin-bottom: 2em !important;
}

.hljs {
  border-radius: 4px;
  padding: 1.2rem 1.6rem !important;
  font-size: 0.9em;
}

code:not(.hljs) {
  background-color: lighten($color-carrot, 42%);
  color: darken($color-carrot, 5%);
  padding: 0.2rem 0.4rem;
  font-size: 0.9em;
}
